
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoginPage Using AngularJS</h2>
<div ng-controller="logincontroller">
    <form name="myForm" novalidate ng-submit="LoginCheck()">
        <div style="color:green">{{ msg }}</div>
        <table class="table table-horizontal">
            <tr>
                <td>
                    <label>Enter Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter EmailID" ng-model="UserModel.Email" required
                           ng-class="Submited?'ng-dirty':''" autofocus />
                    <span style="color:red" ng-show="(myForm.email.$dirty || Submited) && myForm.email.$error.required"> please enter email</span>
                    <span style="color:red" ng-show="myForm.email.$error.email"> email is not valid</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Enter Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter Password" ng-model="UserModel.Password" required
                           ng-class="Submited?'ng-dirty':''" />
                    <span style="color:red" ng-show="(myForm.password.$dirty || Submited) && myForm.password.$error.required"> please enter password</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="Login" value="Login" class="btn btn-success" />
                </td>
            </tr>
        </table>
    </form>
</div>
@section scripts{
    <script src="~/App/controller/logincontroller.js"></script>
}
